<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
 <p>{{ Date }}</p>
 <p>{{ WeatherSymbolName }}</p>
 <p>{{ WeatherTemperatue }}</p>
 <p> &deg; C</p>
<img src="cam.jpg" width="400">
</body>
</html>