<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Læs Opskrift</title>
</head>
<body>
{% include 'Nav.php' %}
<a href="../NyOpskrift.php">Ny Opskrift</a>
<ul>
    {% for opskrift in Opskrift %}
        <li>
            <p> Id : {{ opskrift.Id }}</br>
                Titel : {{ opskrift.Titel }}</br>
                Ingredienser : {{ opskrift.Ingredienser }}</br>
                Opskrift : {{ opskrift.Opskrift }}</p></li>
    {% endfor %}
</ul>
</body>
</html>
