<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Noter</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.9,maximum-scale=.9, user-scalable=0">
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <script src="assets/js/daynightScript.js"></script>
    <link rel="stylesheet" href="assets/bgstyle-day.css" id="nightModeStyle">
</head>
<body onload="nightModeStyle()">
<article>
    {% include 'Nav.php' %}

    <section id="Noter">
        <div id="header">
                <h3><i class="fa fa-fw fa-sticky-note"></i> Noter</h3>
                <!-- <a href="NyOpskrift.php" class="abtn"><i class="fa fa-fw fa-plus"></i> Ny Opskrift</a> -->
                <a href="nynote.php" class="abtn"><i class="fa fa-fw fa-plus"></i> Ny Note</a>

            </div>
            <ul>
                

                {% for Note in Noter %}
                    <li>
                        <a href="note.php?id={{ Note.Id }}">
                            <h4>{{ Note.Titel }}</h4>
                            <p>{{ Note.Note | nl2br }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
    </section>
</article>
</body>
</html>