<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opskrifter</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.9,maximum-scale=.9, user-scalable=0">
    
    
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <script src="assets/js/daynightScript.js"></script>
    <link rel="stylesheet" href="assets/bgstyle-day.css" id="nightModeStyle">
</head>
<body onload="nightModeStyle()">
    <article>
        {% include 'Nav.php' %}
        <section id="Opskrifter">
            <div id="header">
                <h3><i class="fa fa-fw fa-cutlery"></i>Opskrifter</h3>
                <a href="NyOpskrift.php" class="abtn"><i class="fa fa-fw fa-plus"></i> Ny Opskrift</a>
            </div>
            
            

            <ul>
                {% for opskrift in Opskrifter %}
                    <li>
                        <a href="visOpskrift.php?id={{ opskrift.Id }}">{{ opskrift.Titel }}</a>
                        <!-- <form method="post">
                            <input type="hidden" name="DeleteOpskriftId" value="{{ opskrift.Id }}">
                            <button type="submit" name="DeleteOpskriftSubmit"><i class="fa fa-fw fa-times fa-lg"></i></button>
                        </form> -->
                    </li>

                {% endfor %}
            </ul>
            <!-- <form method="post">
                <input type="number" name="DeleteOpskriftId" placeholder="Id" title="Skriv Id på den opskrift du vil slette" required>
                <input type="submit" name="DeleteOpskriftSubmit" value="Slet Opskrift">
            </form> -->
        </section>
    </article>

</body>
</html>