<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Indstillinger</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.9,maximum-scale=.9, user-scalable=0">
    
    
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="assets/js/daynightScript.js"></script>
    <link rel="stylesheet" href="assets/bgstyle-day.css" id="nightModeStyle">
</head>
<body onload="nightModeStyle()">
<article>
    {% include 'Nav.php' %}
    <section>
        <div id="header">
            <h3><i class="fa fa-fw fa-cog"></i> Indstillinger</h3>
            <!-- <a href="nynote.php" class="abtn"><i class="fa fa-fw fa-plus"></i> Ny Note</a> -->
        </div>
        <form method="post" id="settingsForm">

            <!-- =============================================== -->
            <div><span>Nyheder er slået
                {% if cookies.newsWidget == "true" %}
                    <b class="green">Til</b>
                {% else %}
                    <b class="red">Fra</b>
                {% endif %}
             </span><button value="news" name="toggleWidget">Skift</button></div>
            <!-- =============================================== -->


            <!-- =============================================== -->
            <div><span>Vejr er slået
                {% if cookies.weatherWidget == "true" %}
                    <b class="green">Til</b>
                {% else %}
                    <b class="red">Fra</b>
                {% endif %}
            </span><button value="weather" name="toggleWidget">Skift</button></div>
            <!-- =============================================== -->
            
            <!-- =============================================== -->
            <div><span>Køleskabs Temperatur er slået
                {% if cookies.localTempWidget == "true" %}
                    <b class="green">Til</b>
                {% else %}
                    <b class="red">Fra</b>
                {% endif %}
            </span><button value="localTemp" name="toggleWidget">Skift</button></div>
            <!-- =============================================== -->

            <!-- =============================================== -->
            <div><span>Dato og Ur er slået
                {% if cookies.dateTimeWidget == "true" %}
                    <b class="green">Til</b>
                {% else %}
                    <b class="red">Fra</b>
                {% endif %}
            </span><button value="dateTime" name="toggleWidget">Skift</button></div>
            

        </form>
        <!-- <h1>{{ app.request.cookies.getValue('newsWidget') }}</h1> -->
        

    </section>
</article>
</body>
</html>