@media screen  and (min-width : 481px) {

	body {
		background: url('blurbg.jpg');
		background-attachment: fixed;
		background-size: cover;
	}
}
@media screen  and (min-width : 1px) and (max-width : 480px) {

	body {
		background: url('blurbg-phone.jpg');
		background-attachment: auto;
		background-size: cover;
	}
	nav {
		background-color: #2194EF;
	}

}